.product-details {
  color: $white;
  background-image: url('../../../../public/images/product/back.png');
  background-size: contain;
  background-position: 100% 100%;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

.header-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 37px;
  margin-bottom: 30px;
}

// .product-item {
//   min-height: 503px;
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   padding-top: 6px;
//   padding-bottom: 108px;

//   &__view {
//     padding-left: 50px;
//   }

//   &__img {
//     max-width: 100%;
//     max-height: 100%;
//   }

//   &__text {
//     display: flex;
//     flex-direction: column;
//     max-width: 528px;
//     padding-top: 58px;
//     max-height: 454px;
//   }

//   &__title {
//     font-weight: 500;
//     font-size: 30px;
//     line-height: 37px;
//     color: $color-basic;
//     margin-bottom: 21px;
//     max-width: 415px;
//   }

//   &__description {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 17px;

//     color: $white;
//   }

//   &__block-price {
//     display: flex;
//     flex-wrap: wrap;
//     align-items: center;
//     margin-top: auto;
//   }

//   &__price {
//     font-weight: 500;
//     font-size: 23px;
//     line-height: 28px;
//     margin-right: 5px;
//     color: $white;
//   }

//   &__weight {
//     font-weight: 400;
//     font-size: 18px;
//     line-height: 22px;
//     color: $white;
//     margin-right: 68px;
//   }
// }