.formPage {
  background-image: url('../../../../public/images/form/backForm.png');
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}