.form-page {
  background-image: url('../../../../public/images/form/back.png');
  background-position: 50% 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1360px;
  padding: 0 30px;
  margin: 0 auto;
}

// .registration,
// .login {
//   background-color: $color-back;
//   padding-bottom: 243px;
//   padding-top: 82px;

//   @media screen and (max-width:768px) {
//     padding-top: 20px;
//     padding-bottom: 20px;
//   }
// }