html{
    --font-family: "Montserrat", sans-serif;
    --color-basic: #d58c51;
    --color-white: #fff;
    --color-back: #161516;
    --color-scroll: #49423d;
    --color-hover: #a75d3b;
    --color-text: #131313;
};