.basket {
  color: $white;
  max-width: 1440px;
  margin: 0 auto;


  .container {
    max-width: 920px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .header {
    &__title {
      @include setFontSize(700, 31px, 38px);
      text-transform: uppercase;
      font-family: $font-family;
      text-align: center;
      padding-top: 53px;
    }
  }

  .basket-list {
    border-bottom: 1px solid $color-basic;
    width: 100%;
  }

  .footer-block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 27px;

    &__label {
      font-weight: 400;
      font-size: 21px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &__sum {
      margin-left: 16px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: #D58C51;
    }

    &__btn {
      width: 200px;
      height: 42px;
      background-color: var(--color-basic);
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #131313;
    }
  }
}