.card {
  padding: 43px 25px 32px 17px;
  border: 1px solid #D58C51;
  max-width: 310px;
  height: 552px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__preview {
    margin-bottom: 31px;
  }

  &__title,
  &__description,
  &__block {
    padding-left: 5px;
  }

  &__title {
    margin-bottom: 9px;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }

  &__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    margin-top: auto;
  }

  &__price {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
  }

  &__wight {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
  }

  &__btn {
    position: relative;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #FFFFFF;

    &::after {
      content: url("../../public/images/9.png");
      position: absolute;
      top: 7px;
      left: 7px;
    }
  }
}