.products {
  font-family: $font-family;
  color: $white;
  max-width: 1440px;
  margin: 0 auto;

  .container {
    max-width: 1360px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 72px;
    padding-top: 48px;


    &__title {
      text-transform: uppercase;
      @include setFontSize(700, 31px, 38px);
    }
  }
}